a, div {
/*//  border: 1px solid #CCC;
//  padding: 25px;
//  margin: 50px auto;
 // display: block;
//  width: 250px;
// background: #EEE;
//  color: #777;
//  font-weight: bold;
//  font-size: 25px;
//  font-family: tahoma;
//  text-align: center;
 // text-decoration: none;
//  color: #f00;*/
}

@media print {
  a {
    display: none
  }
  .screen {
    display: none
  }
  .print {
    display: block;
    color: #080
  }
}
@media screen {
  a {
    display: block
  }
  .screen {
    display: block
  }
  .print {
    display: block
  }
}